<!-- Game Interface -->
<div style="text-align:center">
  <h1>
    Welcome to Ninja Gold!
  </h1>
</div>
<h2>Gold: {{goldCount}}</h2>
<div id = "options">
  <div class = "location">
    <h4>Farm</h4>
    <button id="farm">GO</button>
  </div>
  <div class = "location">
    <h4>Cave</h4>
    <button id="cave">GO</button>
  </div>
  <div class = "location">
    <h4>House</h4>
    <button id="house">GO</button>
  </div>
  <div class = "location">
    <h4>Casino</h4>
    <button id="casino">GO</button>
  </div>
</div>
<div id="log">
  <h3 id="eventStat" *ngFor="let entry of info"> {{entry}}</h3> 
  <!-- *ngFor is a directive -->
</div>
<h1>pokemon</h1>